<div>
  <h1><%= @user.full_name %></h1>
</div>

<div id='content'>
  <div id='left-col'>
    <%= image_tag @detail.headshot.url %>
  </div>
  <div id='right-col'>
    <h3>Summary</h3>
    <ul>
      <li>Phone: <%= @user.phone %></li>
      <li>Email: <%= @user.email %></li>
    </ul>
  </div>
</div>