<h1>Welcome to the Chicago minority actor database!</h1>

<ul>
  <li>As an actor, get your name and face out there and get more work.</li>
  <li>As a theater, search for the talent you need for your next project.</li>
</ul>